@font-face {
  font-family: 'SUIT';
  font-weight: 400;
  src: url('./SUIT-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'SUIT';
  font-weight: 500;
  src: url('./SUIT-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'SUIT';
  font-weight: 600;
  src: url('./SUIT-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'SUIT';
  font-weight: 700;
  src: url('./SUIT-Bold.woff2') format('woff2');
}
